.product-title{
    text-transform: capitalize;
    font-weight: 700;
}
.product-content h3{
    color: #FF6F00;
    font-size: 18px;
    font-weight:bolder;
}
.product-content h4{
    font-size: 30px;
}
.icon{
    color: #FF6F00;
}
.product-content h5{
    font-weight: bold;
}