.header-btn {
    border: none;
    font-size: 14px;
    color:black;
}
.header-btn:hover{
 border: none;
 background-color: transparent;
 color:black;
}
.bg {
    background-color: white;
    border-bottom: 5px solid #FF6F00;
    padding: 1px 0;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    text-transform: uppercase;
    font-size: 14px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #FF6F00;
}


.login a{
 text-decoration: none;
 color:black;
 margin-left: 25px;

}

@media  only screen and (max-width: 990px) {
    .login a{
        margin-left:0px;
       margin-right: 25px;
       margin-bottom: 10px;
     
     
    }
    .login{
      display: flex;
      flex-direction: column;
     
    }
}